<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="4.0.0-alpha0161" targetFramework="net452" />
  <package id="CrystalDecisions.CrystalReports.Engine" version="1.0.0" targetFramework="net452" />
  <package id="CrystalReports.Engine" version="13.0.3501" targetFramework="net452" />
  <package id="CrystalReports.FlashControlV71" version="13.0.3501" targetFramework="net452" />
  <package id="CrystalReports.ReportAppServer.ClientDoc" version="13.0.3501" targetFramework="net452" />
  <package id="CrystalReports.ReportAppServer.CommLayer" version="13.0.3501" targetFramework="net452" />
  <package id="CrystalReports.ReportAppServer.CommonControls" version="13.0.3501" targetFramework="net452" />
  <package id="CrystalReports.ReportAppServer.CommonObjectModel" version="13.0.3501" targetFramework="net452" />
  <package id="CrystalReports.ReportAppServer.Controllers" version="13.0.3501" targetFramework="net452" />
  <package id="CrystalReports.ReportAppServer.CubeDefModel" version="13.0.3501" targetFramework="net452" />
  <package id="CrystalReports.ReportAppServer.DataDefModel" version="13.0.3501" targetFramework="net452" />
  <package id="CrystalReports.ReportAppServer.DataSetConversion" version="13.0.3501" targetFramework="net452" />
  <package id="CrystalReports.ReportAppServer.ObjectFactory" version="13.0.3501" targetFramework="net452" />
  <package id="CrystalReports.ReportAppServer.Prompting" version="13.0.3501" targetFramework="net452" />
  <package id="CrystalReports.ReportAppServer.ReportDefModel" version="13.0.3501" targetFramework="net452" />
  <package id="CrystalReports.ReportAppServer.XmlSerialize" version="13.0.3501" targetFramework="net452" />
  <package id="CrystalReports.ReportSource" version="13.0.3501" targetFramework="net452" />
  <package id="CrystalReports.Shared" version="13.0.3501" targetFramework="net452" />
  <package id="CrystalReports.WPF.Viewer" version="13.0.3501" targetFramework="net452" />
  <package id="CrystalReports.WPF.ViewerShared" version="13.0.3501" targetFramework="net452" />
  <package id="CsvExport" version="1.0.1" targetFramework="net452" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="EntityFramework.SqlServerCompact" version="6.2.0" targetFramework="net452" />
  <package id="FontAwesomeWPF" version="1.0.0" targetFramework="net452" />
  <package id="log4net" version="1.2.10" targetFramework="net452" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net452" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net452" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net452" />
  <package id="WPFToolkit" version="3.5.50211.1" targetFramework="net452" />
  <package id="WPFToolkit.DataVisualization" version="3.5.50211.1" targetFramework="net452" />
</packages>